p{
  font-family: sans-serif;
  color: gray;
  font-size: 12px;
  font-weight: 400px;
  text-align: center;
  line-height: 21.1px;
 
}  

.awesome::after{
  content: '';
  display: block;
  width: 180px;
  height: 3px;
  background: #FF9000;
  margin-top: 10px;
}

.hair::before{
  content: '';
  display: block;
  height: 3px;
  width: 180px;
  background: #FF9000;
  margin-bottom: 10px;
}